*{
    padding:0;
    margin:0
}
body{
    min-height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header{
    background-color: bisque;
    flex:1;
}

.information{
    background-color: aqua;
    flex:1;
}

.quote{
    background-color: blueviolet;
    flex:1;
}

.last-section{
    background-color: blanchedalmond;
    flex:1;
}

.footer{
    background-color: lightgrey;
    height: 30px;
}
