*{
    padding:0;
    margin:0
}

body{
    min-height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*Setting the header*/
.header{
    background-color: rgb(244, 136, 65);
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}
.top-header{
    display: flex;
    justify-content: space-between;
}
.logo{
    font-size: 50px;
}
.menu{
    display: flex;
    list-style: none;
    gap: 10px;
}
.bottom-header{
    flex:1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    align-self: center;
}

.left-side{
    display:flex;
    flex-direction: column;
    max-width: 60%;
    gap: 10px;
}
.left-side .title{
    font-size:25px;
}
.header img{
    height: 100%;
    width: 250px;
}


/*Setting the information section*/
.information{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex:none;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding: 10px;
    height: 30%;

}
.information .title{
    display:flex;
    flex: 1;
    margin-bottom: 20px;
}

.content{
    display: flex;
    justify-content: center;
    gap: 70px;
}

.content img{
    width: 70px;
    height: 100%;
}

.first-box,.second-box,.third-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Set the quote section*/
.quote{
    background-color: rgb(234, 165, 96);
    flex:1;
    padding: 20px;
}
.author{
    padding:30px;
}

/*Set the last section*/

.last-section{
    display: flex;
    background-color:rgb(255, 255, 255);
    flex:1;
    justify-content: center;
    padding: 20px;
}
.call-to-action{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: auto;
    max-width: 70%;
    background-color: rgb(244, 136, 65);
    padding: 10px;

}

/*Set the footer*/
.footer{
    background-color: lightgrey;
    height: 30px;
}
