*{
    padding:0;
    margin:0;
    font-family:"Roboto",serif;
}

body{
    min-height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*Setting the header*/
.header{
    background-color: rgb(244, 136, 65);
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}
.top-header{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}
.logo{
    font-size: 50px;
    font-family: serif;
}
.menu{
    display: flex;
    list-style: none;
    gap: 10px;
}
.bottom-header{
    flex:1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    align-self: center;
}

.left-side{
    display:flex;
    flex-direction: column;
    max-width: 60%;
    gap: 10px;
}
.left-side .title{
    font-size:25px;
}
.left-side .text{
    font-size: 15px;
}
.header img{
    height: 100%;
    width: 250px;
    border-radius: 10px;
}


/*Setting the information section*/
.information{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex:none;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding: 10px;
    height: 30%;

}
.information .title{
    display:flex;
    flex: 1;
    margin-bottom: 20px;
    font-weight: 600;
}

.content{
    display: flex;
    justify-content: center;
    gap: 70px;
}

.content img{
    width: 70px;
    height: 100%;
    border-radius: 7px;
    margin-bottom: 10px;
}
.content-text{
    font-weight: 400;
    font-size: 15px;
}

.first-box,.second-box,.third-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Set the quote section*/
.quote{
    display: flex;
    flex-direction: column;
    background-color: rgb(234, 165, 96);
    flex:1;
    padding: 10px;
    justify-content: center;
}
.quote .text{
    text-align: center;
    max-width: 80%;
    align-self: center;
    line-height:1.5;
    font-size: 15px;
    padding-bottom: 0;
    font-weight: 400;
}
.author{
    align-self: flex-end;
    margin-top: 0;
    font-weight: 500;
}

/*Set the last section*/

.last-section{
    display: flex;
    background-color:rgb(255, 255, 255);
    flex:1;
    justify-content: center;
    padding: 20px;
}
.call-to-action{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: auto;
    max-width: 70%;
    background-color: rgb(244, 136, 65);
    padding: 10px;
    border-radius: 10px;

}
.call-to-action .text{
    font-size: 13px;
    font-weight: 500;
}

.call-to-action button{
    background-color:rgb(244, 136, 65);
    border: 1px;
    border-style: solid;
    border-color: antiquewhite;
    font-weight: 500;
}

/*Set the footer*/
.footer{
    display: flex;
    background-color: lightgrey;
    height: 30px;
    font-size: 10px;
    font-weight: 800;
    justify-content: center;
    align-items: center;

}
/*Set the buttons*/
button{
    padding: 10px;
    border-radius: 10px;
    border: none;
    transition-duration: 0.4s;
    box-shadow: 0 4px 10px 0;

}

button:hover {
    background-color: rgb(230, 191, 38);
}